# Ignore everything
*

# Allow directories
!*/

# Allow .cpp, .h, and .py files
!*.cpp
!*.h
!*.py
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.config
!*.info
!*.md
!*.yml
!*.yaml
!Dockerfile
!.dockerignore
# Keep .gitignore itself
!.gitignore
/client/packages
/client/Debug/
